[automerger "master:ds_one"]
[automerger "master:ds_two"]
  mergeAll = true
  ignoreSourceManifest = true
[automerger "ds_two:ds_three"]
  setProjects = platform/some/project
[automerger "master:ds_four"]
  mergeAll = true
  ignoreSourceManifest = true
[global]
  alwaysBlankMerge = .*BLANK ANYWHERE.*
  blankMerge = .*DO NOT MERGE.*
  manifestFile = default.xml
  manifestProject = platform/manifest
  maxAutomergeVote = 5
  minAutomergeVote = -3
  disableMaxAutomergeVote = true
  ignoreProjects = platform/ignore/me
  conflictMessage = line1\n\
line2\n\
line3 ${branch}\n\
line4
  missingDownstreamsMessage = there is no ${missingDownstreams}