[automerger "master:ds_one"]
  addProjects = platform/added/project
  ignoreProjects = whoo
[automerger "master:ds_two"]
  mergeAll = true
  ignoreSourceManifest = true
[automerger "ds_two:ds_three"]
  setProjects = platform/some/project
[global]
  alwaysBlankMerge = .*BLANK ANYWHERE.*
  blankMerge = .*DO NOT MERGE.*
  manifestFile = default.xml
  manifestProject = platform/manifest
  ignoreProjects = platform/ignore/me