[automerger "master:ds_one"]
  addProjects = platform/added/project
  ignoreProjects = whoo
[automerger "master:ds_two"]
  mergeAll = true
  addProjects = platform/added/project
  ignoreProjects = whoo
  setProjects = platform/some/project
  setProjects = platform/other/project
[automerger "ds_two:ds_three"]
  setProjects = platform/some/project
[global]
  alwaysBlankMerge = .*Import translations. DO NOT MERGE.*
  alwaysBlankMerge = .*DO NOT MERGE ANYWHERE.*
  blankMerge = .*DO NOT MERGE.*
  manifestFile = default.xml
  manifestProject = platform/manifest
  ignoreProjects = platform/ignore/me