[automerger "master:left"]
  setProjects = platform/some/project
[automerger "master:right"]
  setProjects = platform/some/project
[automerger "left:bottom"]
  setProjects = platform/some/project
[automerger "right:bottom"]
  setProjects = platform/some/project
[global]
  manifestFile = default.xml
  manifestProject = platform/manifest